*{
    padding: 0;
    margin: 0;
    color: black;
}
body{
    background-image: url("/download (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.form{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
}
.form h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(7, 247, 59);
    text-transform: uppercase;
    margin: 20px 0;
}
.form p{
    font-size: 20px;
    margin: 5px 0;
    color: rgb(16, 241, 8);
}
.form input{
    font-size: 16px;
    width: 95%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
    background-color: antiquewhite;
}
.form label{
    font-size: 16px;
    color: rgb(24, 245, 3);
    text-align: right;
}
.form input[type="submit"]{
    font-weight: bold;
   
}